<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Lista de los nombres de servicios separados por ;-->
    <add key="SERVICE_LIST" value=""/>
    <!--Tiempo en milisegundos para verificar si los servicios se están ejecutando y reejecutarlos-->
    <add key="SERVICE_LAUNCH_TIMEGAP" value="1000"/>
  </appSettings>
</configuration>