<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Lista de los nombres de servicios separados por ;-->
    <add key="SERVICE_LIST" value=""/>
    <!--Tiempo en milisegundos para esperar el inicio del servicio-->
    <add key="SERVICE_LAUNCH_TIMEOUT" value="60000"/>
  </appSettings>
</configuration>